In [7]:
age=23

In [15]:
age=int(input("enter your age"))

enter your age 33

In [16]:
age

33

In [18]:
if age>=18 and age<=45:
    print("you are young blood")

you are young blood

In [20]:
age=int(input("enter your age"))
if age>=18 and age<=45:
    print("you are young blood")

enter your age 56

In [ ]:
# if else statement

In [22]:
age=int(input("enter your age"))
if age>=18 and age<=45:
    print("you are young blood")
else:
    print("Thank You, We will let you know")

enter your age 17

Thank You, We will let you know

# IF ELSE

In [ ]:
# money >1000 10% discount

# mall- input product price
# if price >1000 discount 10
#if price is less than 100  then 30 % discount
### print price after discount

In [34]:
price=int(input("enter the price"))
if price>=1000:
    print('price after discount=', price* float(0.8))
else:
    print('price after discount', price* float(0.7))

enter the price 1600

price after discount= 1280.0

In [37]:
price=int(input("enter the price"))
if price>=1000:
    print("price after discount is {}".format(price* float(0.8)))
else:
    print('price after discount', price* float(0.7))

enter the price 18000

price after discount is 14400.0

# elif

In [38]:
10+3

13

# LOOP
## while
## for
## nested 
## loop control (break, continue pass)

### while loop

In [55]:
# while age
joining_age=23
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
    
else:
    print("its time to retire")
    
#if print command was given after the iteration would have print 61 too

23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
its time to retire

In [56]:
#### ATM MACHINE with 100 Rs
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100

1000
900
800
700
600
500
400
300
200
100

In [60]:
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("Sending request to Bank to re fill....")

1000
900
800
700
600
500
400
300
200
100
Sending request to Bank to re fill....

## for loop

In [62]:
lst=["AMir",2,5,2,9,0,"Mobile","laptop","Gurgaon"]

In [63]:
lst[0]

'AMir'

In [64]:
lst

['AMir', 2, 5, 2, 9, 0, 'Mobile', 'laptop', 'Gurgaon']

In [68]:
for x in lst:
    print(x)
    
#for a temporary variable and a collection

AMir
2
5
2
9
0
Mobile
laptop
Gurgaon

In [71]:
fruit_list=["cherry","mango","strawberry","Apple","watermelon",'munsk melon']

In [72]:
fruit_list

['cherry', 'mango', 'strawberry', 'Apple', 'watermelon', 'munsk melon']

In [77]:
for a in fruit_list:
    print(a)
    print("the fruit is {}".format(a))
    if a=="mango":
        print('King of the fruits')

cherry
the fruit is cherry
mango
the fruit is mango
King of the fruits
strawberry
the fruit is strawberry
Apple
the fruit is Apple
watermelon
the fruit is watermelon
munsk melon
the fruit is munsk melon

In [79]:
for a in fruit_list:
    if a=="mango":
        print('King of the fruits')

King of the fruits

In [80]:
fruit='MANGO'
for x in fruit:
    print(x)

M
A
N
G
O

In [82]:
fruit[2]

'N'

In [86]:
fruit='MANGO'
for x in fruit:
    print(x,end=',')
    
# to print in the same line use end='' if you need commas then put a comma in between end=','

M,A,N,G,O,

## Nested Loop

In [87]:
n=7
for i in range(1,50):
    print (i,end=",")

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,

In [88]:
for i in range(1,50,5):
    print (i,end=",")
#step size of 5, you can create AP with it.

1,6,11,16,21,26,31,36,41,46,

In [99]:
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end='')
    print("\r")

*
**
***
****
*****
******
*******

# Loop controls
## break and continue

In [101]:
for i in fruit_list:
    if i=="Apple":
        print("The fruit is Apple")
        break
    print(i)
    
# to stop the loop

cherry
mango
strawberry
The fruit is Apple

In [102]:
for i in fruit_list:
    if i=="Apple":
        print("The fruit is Apple")
        pass
    print(i)

cherry
mango
strawberry
The fruit is Apple
Apple
watermelon
munsk melon

In [103]:
for i in fruit_list:
    if i=="Apple":
        print("The fruit is Apple")
        continue
    print(i)
    
# to skip the loop for once

cherry
mango
strawberry
The fruit is Apple
watermelon
munsk melon